

<div class="header">header</div>
<div class="hero">
  <h1>Hello, I'm Benoit Destresse.</h1>
  <h2>I'm a full stack developer</h2>
</div>

<div class="project1">
  <h1 class="title">My work.</h1>
  <h2>pocketwise</h2>
</div>

<div class="project2">
  <h2>toysly</h2>
</div>
<div class="project3">
  <h2>Tabrun</h2>
</div>

<div class="box6">
  <h1 class="title">My skills.</h1>
  <div class="boxtext">
    <h2>skills</h2>

  </div>
</div>
<div class="box7">
  <h2>wagon</h2>
</div>

<div class="box8">
  <h1 class="title">Contact.</h1>
  <h2>photo</h2>
</div>
<div class="box9">
  <h2>tagline</h2>
</div>

