
<div class="header">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
          <ul id="menu">
            <a href="#section-1"><li>My work</li></a>
            <a href="#section-2"><li>My skills</li></a>
            <a href="#section-3"><li>Concat</li></a>
          </ul>
    </div>
  </nav>
</div>

<div class="hero">
  <h1>Benoit Destresse.</h1>
  <h2>full stack developer</h2>
</div>

<div class="title1">
  <a id="section-1"></a>
  <h1>My work.</h1>
</div>

<div class="box1">
    <div class="boxtext">
      <h2>pocketwise</h2>
      <h3>Description</h3>
      <p>Animation</p>
      <p>Button</p>
    </div>
</div>

<div class="box2">
  <div class="boxtext">
    <h2>Toysly</h2>
    <h3>Description</h3>
    <p>Amimation</p>
    <p>Button</p>
  </div>
</div>
<div class="box3">
  <div class="boxtext">
    <h2>Tabrun</h2>
  </div>
</div>

<div class="title2">
    <a id="section-2"></a>
    <h1>My skills.</h1>
</div>

<div class="box4">
  <div class="boxtext">
    <h2>skills</h2>
  </div>
</div>
<div class="box5">
  <div class="boxtext">
    <h2>wagon</h2>
  </div>
</div>

<div class="title3">
    <a id="section-3"></a>
    <h1>Contact.</h1>
</div>

<div class="box6">
  <div class="boxtext">
    <h2>Hello, my name is Benoit Destresse</h2>
    <h2>I'm a full stack developper</h2>
    <h3>I like to design and build digital products</h3>
    <p>Contact me here</p>
    <p>benoit.destresse@gmail.com</p>
  </div>
</div>
<div class="box7">
</div>

