
 body {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  // grid-auto-row: minmax(100px, 100px);
  grid-template-areas:
    "hd"
    "ho"
    "t1"
    "b1"
    "b2"
    "b3"
    "t2"
    "b4"
    "b5"
    "t3"
    "b6"
    "b7";
}

@media (min-width: 800px) {
  body {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  // grid-auto-row: minmax(100px, 100px);
  grid-template-areas:
    "hd hd"
    "ho ho"
    "t1 t1"
    "b1 b1"
    "b2 b3"
    "t2 t2"
    "b4 b5"
    "t3 t3"
    "b6 b7";
  }
}

html {
  scroll-behavior: smooth;
}

.header {
  grid-area: hd;
  text-align: center;
}

.hero {
  grid-area: ho;
  text-align: center;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.script {
  min-height: 100px;
}

.title1 {
  grid-area: t1;
  font-size: 45px;
}

.box1 {
  grid-area: b1;
  z-index: -1;
  margin-top: -94px;
  background-color: #FFC33F;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  grid-area: b2;
  background-color: #00AEEF;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  grid-area: b3;
  background-color: orange;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title2 {
  grid-area: t2;
  font-size: 45px;
}

.box4 {
  grid-area: b4;
  z-index: -1;
  margin-top: -94px;
  background-color: red;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box5 {
  grid-area: b5;
  z-index: -1;
  margin-top: -94px;
  background-color: blue;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title3 {
  grid-area: t3;
  font-size: 45px;
}

.box6 {
  grid-area: b6;
  z-index: -1;
  margin-top: -94px;
  background-color: #1E2428;
  text-align: center;
  min-height: 650px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box7 {
  grid-area: b7;
  z-index: -1;
  margin-top: -94px;
  text-align: center;
  min-height: 650px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('contact.jpg');
  background-size: cover;
  max-width: 100%;
}

.boxtext {
  padding: 0 50px 40px;
  color: white;
}
