body {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

html {
  scroll-behavior: smooth;
}

.header {
  // position: fixed;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}


.hero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.script {
  min-height: 100px;
}

.title1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 45px;
}

.box1 {
  z-index: -1;
  margin-top: -94px;
  background-color: #FFC33F;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: #00AEEF;
  color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 150px;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  background-color: orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 150px;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  font-size: 45px;
}

.box4 {
  z-index: -1;
  margin-top: -94px;
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-bottom: 150px;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box5 {
  z-index: -1;
  margin-top: -94px;
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-bottom: 150px;
  text-align: center;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  font-size: 45px;
}

.box6 {
  z-index: -1;
  margin-top: -94px;
  background-color: #1E2428;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: left;
  min-height: 650px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box7 {
  z-index: -1;
  margin-top: -94px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  min-height: 650px;
  margin-bottom: 20px;
  background-image: url('contact.jpg');
  background-size: cover;
}

.boxtext {
  padding: 0 50px 40px;
  color: white;
}
